<a href="https://colab.research.google.com/github/othniel77/datascience/blob/main/Series_partie_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# trouvons série grace à la librairie pandas pd avec Series et S en majuscule absolument
# créer une liste d'index étiqueté ou labelissé des noms des pays
my_index = ['USA','Canada','Mexico']

In [3]:
# créons une liste de valeur pour les données qui correspond aux dates d'independance
my_data = [1776,1867,1821]

In [4]:
# créons une série
my_ser = pd.Series(data = my_data)
my_ser
# python convertit notre liste à une série
# la série prend automatiquement l'index numérique 0,1,2

0    1776
1    1867
2    1821
dtype: int64

In [5]:
# nous allons changer l'index en mettant la liste my_index à la place de l'index numérique
my_ser = pd.Series(data = my_data, index = my_index)
my_ser
# ces nouveaux index sont des index nominatifs ou index vec un label

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [6]:
my_ser[0]
# ceci renvoie la première valeur

1776

In [7]:
my_ser['USA']

1776

In [8]:
# on peut réecrire la série en gardant l'ordre comme suit et obtenir le meme résultat
my_ser = pd.Series(my_data,my_index)
my_ser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [9]:
# créons une série à partir d'un dictionnaire
ages = {'Sam':5,'frank':10,'Spike':7}

In [10]:
# pandas est suffisement intelligent pour prendre les clés (Sam,frank et spike) en index et afficher aussi les valeurs
pd.Series(ages)
# cela nous aide à facilement organiser les données

Sam       5
frank    10
Spike     7
dtype: int64

In [11]:
# Données de ventes (inventés) pour les 1er(q1) et 2e (q2) trimestres pour une entreprise mondiale
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [13]:
# pour trouver la série q1
sales_q1 = pd.Series(q1)
sales_q1
# ainsi notre compagnie a réalisé pour le première semestre au japon,la vente de 80 produits

Japan     80
China    450
India    200
USA      250
dtype: int64

In [14]:
sales_q2 = pd.Series(q2)
sales_q2
# La compagnie a connu une hausse dans ces ventes en chine, passant de 450 au q1 à 500 au q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
# cherchons la vente du japon au 1er trimestre
sales_q1['Japan']

80

In [16]:
# ou en se réferent de l'index numérique
sales_q1[0]

80

In [17]:
# comment avoir l'objet index dans l'ordre
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [18]:
# abordons les séries sur numpy
np.array([1,2])*2

array([2, 4])

In [19]:
# utilisons notre objet numpy sales_q1 avec la multiplication
sales_q1*2
# nous obtenons le nombre de vente dans chaque pays multiplie par 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [20]:
# nous pouvons diviser la série par 100
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [21]:
# essayons de faire la somme des ventes de deux trimestres ou du semestre
sales_q1 + sales_q2
# nous avons Nan sur Brazil et Japan

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [22]:
# Pour enlever les Nan du japon et Brazil, nous utilisons add et ajoutons fill_value = 0 pour remplacer les valeurs NAn par 0
sales_q1.add(sales_q2,fill_value=0)
# nous obtenons les valeurs attendues

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64